main {
    background-image: url("../images/bg.png");
    background-repeat: repeat;
    background-size: 1000px;
}

.contenedor_footer {
    @include contenedores_flex(flex,column ,start ,center)
}

.contenedor_logo {
    @include contenedores_flex(flex,row ,center ,center)

}

.logo {
    width: 120px;
}